[Unit]
Description=Lawnmower control routine
After=multi-user.target

[Service]
ExecStart=/usr/bin/pwm_control
RemainAfterExit=yes

[Install]
WantedBy=custom.target
